.friendItem {
  display: flex;
  background-color: rgb(183, 171, 196);
  width: 50vw;
  max-width: 350px;
  padding: 5px 20px;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
}
.status {
  display: inline-flex;
  align-items: center;
}
.status::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.statusActive {
  composes: status;
}
.statusActive::before {
  background-color: green;
}
.statusInactive {
  composes: status;
}
.statusInactive::before {
  background-color: darkred;
}
