* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile {
  /* background-color: rgb(237, 234, 230); */
}
.description {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 20px 60px;
  background-color: rgb(237, 234, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.name {
  font-size: 30px;
}
.tag,
.location {
  font-size: 25px;
  color: rgb(221, 138, 30);
}

.stats {
  display: flex;
  justify-content: space-around;
  background-color: rgb(206, 210, 209);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 5px 10px; */
  font-size: 15px;
  color: rgba(94, 92, 92, 0.668);
}
.quantity {
  font-size: 25px;
  color: black;
}
