.statistics {
  display: flex;
  flex-direction: column;
}

.title {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 50vw;
  text-align: center;
  /* padding: 20px auto; */
  padding: 20px;
  font-size: 30px;
  background-color: rgb(206, 210, 209);
}
.stat-list {
  display: flex;
  justify-content: space-around;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /* padding: 10px; */
  background-color: rgb(158, 143, 173);
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  font-size: 15px;
  color: rgba(94, 92, 92, 0.668);
}

.percentage {
  font-size: 20px;
  color: black;
}
